DJANGO_SECRET_KEY=changeme-replace-with-secure-random-string
DEBUG=True
MYSQL_DATABASE=david
MYSQL_USER=david
MYSQL_PASSWORD=changeme
MYSQL_ROOT_PASSWORD=changeme
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
