.venv/
.env
db.sqlite3
staticfiles/
*.save
__pycache__/
*.py[cod]
media/*
!media/.gitkeep
!media/pages/
!media/pages/page1.png
!media/pages/page2.png
!media/covers/
!media/covers/cover.png
!media/placeholders/
!media/placeholders/no-image.png
